{% set common = {
  'vapProfileStatus': '1',
  'ieee80211w': '1',
  'ssid': item.name,
  'oweMode': '0',
  'hideNetworkName': '0',
  'bandSteeringStatus': '1',
  'authenticationType': '96',
  'encryption': '4',
  'vlanID': item.vlan_id,
  'clientSeparation': '0',
  'accessControlGroup': item.access_control_group,
  'remoteAccessControlMode': '0',
  'cpStatus': '0',
  'cpSessionTimeout': '60',
  'cpRedirectStatus': '0',
  'cpURL': 'www.netgear.com',
  'fbCpStatus': '0',
  'BandwidthLimitStatus': '0',
  'BandwidthTxLimit': '65536',
  'BandwidthRxLimit': '65536',
  'urlTracking': '0',
  'dhcpOfferBcastToUcast': '1',
  'allowUIAccess': '0',
  'allowAccessToCIList': '0',
  'ciAllowedList': ['0'],
  'dvlanStatus': '0',
  'natMode': 0,
  'natGw': '0.0.0.0',
  'natDns': '8.8.8.8',
  'natSubnetMask': '255.255.252.0',
  'natLeaseTime': 1440,
  'mpskStatus': 0,
  'bcastMcastForwarding': '0',
  'bcastMcastAllowGroup': 'None',
  'l2l3ACL': '0',
  'l2l3ACLGroup': 'NONE',
  'presharedKey': item.key,
  'densityLevel': 0,
  'advancedRateControl': '0',
} %}
{{ {
  'system': {
    'wlanSettings': {
      'wlanSettingTable': {
        'ssidSetDetails': {
          'SSID' ~ (item.slot + 1): {
            'wlan0': {'vap' ~ item.slot: common | combine({'fixedMulticastRate': '11'})},
            'wlan1': {'vap' ~ item.slot: common | combine({'fixedMulticastRate': '24'})},
          },
        },
      },
    },
  },
} | to_json }}
